In [2]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.43-py2.py3-none-any.whl (84 kB)
     ---------------------------------------- 84.6/84.6 kB 1.2 MB/s eta 0:00:00
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     -------------------------------------- 112.2/112.2 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: platformdirs>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.5.2)
Collecting requests>=2.31
  Downloading requests-2.32.3-py3-none-any.whl (64 kB)
     ---------------------------------------- 64.9/64.9 kB 1.7 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2022.7)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.4.4-cp38-cp38-win_amd64.whl (37 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Collecting peewee>=3.16.2
  Downloading peewee-3.17.6.tar.gz (3.0 MB)
     ---------------------------------------- 3.0/3.0 MB 4.8 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: pandas>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.0.2)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.6-py3-none-any.whl size=138939 sha256=b37639d7425383e1ca6c37f4abc6c2509f04ba5afb13d65985ab19e8b35943ff
  Stored in directory: c:\users\samsung\appdata\local\pip\cache\wheels\3a\cd\3a\abf2568bf80fd95a4be8f7954d9e4eefc190c1233516a0a029
Successfully built peewee
Installing collected packages: peewee, multitasking, requests, html5lib, frozendict, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.29.0
    Uninstalling requests-2.29.0:
      Successfully uninstalled requests-2.29.0
Successfully installed frozendict-2.4.4 html5lib-1.1 multitasking-0.0.11 peewee-3.17.6 requests-2.32.3 yfinance-0.2.43
Note: you may need to restart the kernel to use updated packages.

#### Salvar tick no computador.

In [61]:
import numpy as np
import yfinance as yf
import pandas as pd

#### Código do professor, necessita digitar o ticker do yahoo finance e indicar pasta para salvamento.

In [4]:
import yfinance as yf
import pandas as pd
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows
import os

def download_historical_data(ticker, start_date, end_date):
    try:
        data = yf.download(ticker, start=start_date, end=end_date)
        return data
    except Exception as e:
        print(f"Ocorreu um erro ao baixar os dados para {ticker}: {e}")
        return None

if __name__ == "__main__":
    ticker_symbols = []
    print("Digite os códigos das ações, um por linha. Digite 'fim' (sem aspas) em uma linha separada para encerrar a lista.")
    ticker_symbol = input().strip()

    while ticker_symbol.lower() != "fim":
        ticker_symbols.append(ticker_symbol)
        ticker_symbol = input().strip()

    start_date = "1800-01-01"
    end_date = "2050-01-01"

    failed_downloads = []

    # Diretório de saída fixo
    output_directory = 'C:/Users/Samsung/Documents/GitHub-Datas/TCC_Machine_Learning'

    for ticker_symbol in ticker_symbols:
        historical_data = download_historical_data(ticker_symbol, start_date, end_date)

        if historical_data is not None and not historical_data.empty:
            historical_data.reset_index(inplace=True)
            historical_data['Date'] = historical_data['Date'].dt.strftime('%m/%d/%Y')

            folder_path = os.path.join(output_directory, ticker_symbol)

            if not os.path.exists(folder_path):
                os.makedirs(folder_path)

            output_file = os.path.join(folder_path, f"{ticker_symbol}_serie_historica.xlsx")
            workbook = Workbook()
            worksheet = workbook.active

            for row in dataframe_to_rows(historical_data, index=False, header=True):
                worksheet.append(row)

            for cell in worksheet['A'][1:]:
                cell.number_format = 'mm/dd/yyyy'

            workbook.save(output_file)

            print("Dados salvos com sucesso em:", output_file)
        else:
            failed_downloads.append(ticker_symbol)

    if failed_downloads:
        print("As seguintes ações não puderam ser encontradas ou estão deslistadas no Yahoo Finance:")
        for ticker_symbol in failed_downloads:
            print(ticker_symbol)

    print("fim")

Digite os códigos das ações, um por linha. Digite 'fim' (sem aspas) em uma linha separada para encerrar a lista.

[*********************100%***********************]  1 of 1 completed

Dados salvos com sucesso em: C:/Users/Samsung/Documents/GitHub-Datas/TCC_Machine_Learning\abev\abev_serie_historica.xlsx
fim

In [6]:
import yfinance as yf
import pandas as pd

def download_historical_data(ticker, start_date, end_date):
    try:
        data = yf.download(ticker, start=start_date, end=end_date)
        return data
    except Exception as e:
        print(f"Ocorreu um erro ao baixar os dados para {ticker}: {e}")
        return None

if __name__ == "__main__":
    ticker_symbols = []
    print("Digite os códigos das ações, um por linha. Digite 'fim' (sem aspas) em uma linha separada para encerrar a lista.")
    ticker_symbol = input().strip()

    while ticker_symbol.lower() != "fim":
        ticker_symbols.append(ticker_symbol)
        ticker_symbol = input().strip()

    start_date = "1800-01-01"
    end_date = "2050-01-01"

    failed_downloads = []
    all_data = pd.DataFrame()

    for ticker_symbol in ticker_symbols:
        historical_data = download_historical_data(ticker_symbol, start_date, end_date)

        if historical_data is not None and not historical_data.empty:
            historical_data.reset_index(inplace=True)
            historical_data['Ticker'] = ticker_symbol  # Adicionar uma coluna para identificar o ticker no DataFrame
            all_data = pd.concat([all_data, historical_data])  # Concatenar os dados no DataFrame final
        else:
            failed_downloads.append(ticker_symbol)

    # Exibir o DataFrame final com todos os tickers
    print(all_data)

    if failed_downloads:
        print("As seguintes ações não puderam ser encontradas ou estão deslistadas no Yahoo Finance:")
        for ticker_symbol in failed_downloads:
            print(ticker_symbol)

    print("fim")

Digite os códigos das ações, um por linha. Digite 'fim' (sem aspas) em uma linha separada para encerrar a lista.

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['AATA']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

           Date    Open    High     Low   Close  Adj Close    Volume Ticker
0    1997-03-05  0.0000  0.4500  0.4500  0.4500   0.198069     15000   abev
1    1997-03-06  0.4500  0.4500  0.4500  0.4500   0.198069         0   abev
2    1997-03-07  0.4500  0.4500  0.4500  0.4500   0.198069         0   abev
3    1997-03-10  0.0000  0.4875  0.4875  0.4875   0.214575     24000   abev
4    1997-03-11  0.4875  0.4875  0.4875  0.4875   0.214575         0   abev
...         ...     ...     ...     ...     ...        ...       ...    ...
6933 2024-09-23  2.3100  2.3200  2.2900  2.3100   2.310000  14551500   abev
6934 2024-09-24  2.3600  2.3700  2.3200  2.3300   2.330000  28081200   abev
6935 2024-09-25  2.3600  2.3800  2.3100  2.3300   2.330000  28728100   abev
6936 2024-09-26  2.3600  2.3700  2.3500  2.3600   2.360000  10628600   abev
6937 2024-09-27  2.3600  2.4100  2.3600  2.4000   2.400000  58602700   abev

[6938 rows x 8 columns]
As seguintes ações não puderam ser encontradas ou estão deslistadas no Yahoo Finance:
AATA
fim

##### Aqui não salva no computador, para trabalhar somente em python.

In [19]:
import yfinance as yf
import pandas as pd

def download_historical_data(ticker, start_date, end_date):
    try:
        data = yf.download(ticker, start=start_date, end=end_date)
        if data.empty:
            print(f"Nenhum dado encontrado para {ticker}.")
            return None
        return data
    except Exception as e:
        print(f"Ocorreu um erro ao baixar os dados para {ticker}: {e}")
        return None

if __name__ == "__main__":
    ticker_symbols = []
    print("Digite os códigos das ações, um por linha. Digite 'fim' (sem aspas) em uma linha separada para encerrar a lista.")
    ticker_symbol = input().strip()

    while ticker_symbol.lower() != "fim":
        ticker_symbols.append(ticker_symbol)
        ticker_symbol = input().strip()

    start_date = "1800-01-01"
    end_date = "2050-01-01"

    failed_downloads = []
    all_data = pd.DataFrame()

    for ticker_symbol in ticker_symbols:
        print(f"Baixando dados para: {ticker_symbol}")
        historical_data = download_historical_data(ticker_symbol, start_date, end_date)

        if historical_data is not None:
            historical_data.reset_index(inplace=True)
            historical_data['Ticker'] = ticker_symbol  # Adicionar uma coluna para identificar o ticker no DataFrame
            all_data = pd.concat([all_data, historical_data])  # Concatenar os dados no DataFrame final
        else:
            failed_downloads.append(ticker_symbol)

    # Exibir o DataFrame final com todos os tickers
    print("Dados baixados:")
    print(all_data)

    if failed_downloads:
        print("\nAs seguintes ações não puderam ser encontradas ou estão deslistadas no Yahoo Finance:")
        for ticker_symbol in failed_downloads:
            print(ticker_symbol)

    print("Fim")

Digite os códigos das ações, um por linha. Digite 'fim' (sem aspas) em uma linha separada para encerrar a lista.
Baixando dados para: SANB11.SA

[*********************100%***********************]  1 of 1 completed

Baixando dados para: abev

[*********************100%***********************]  1 of 1 completed

Dados baixados:
           Date       Open       High        Low      Close  Adj Close  \
0    2009-10-07  22.561249  22.695656  21.716402  21.716402   9.030400
1    2009-10-08  21.793205  22.234831  21.121168  21.745203   9.042378
2    2009-10-09  21.726002  22.081223  21.668400  21.956415   9.130212
3    2009-10-13  21.889212  22.033218  21.495588  21.879610   9.098270
4    2009-10-14  21.975616  22.071621  21.658798  21.735603   9.038388
...         ...        ...        ...        ...        ...        ...
6933 2024-09-23   2.310000   2.320000   2.290000   2.310000   2.310000
6934 2024-09-24   2.360000   2.370000   2.320000   2.330000   2.330000
6935 2024-09-25   2.360000   2.380000   2.310000   2.330000   2.330000
6936 2024-09-26   2.360000   2.370000   2.350000   2.360000   2.360000
6937 2024-09-27   2.360000   2.410000   2.360000   2.400000   2.400000

        Volume     Ticker
0     87207046  SANB11.SA
1     30902039  SANB11.SA
2      6485370  SANB11.SA
3      7335010  SANB11.SA
4      7844461  SANB11.SA
...        ...        ...
6933  14551500       abev
6934  28081200       abev
6935  28728100       abev
6936  10628600       abev
6937  58602700       abev

[10657 rows x 8 columns]
Fim

#### Lista B3 coletada na internet.

In [81]:
ListaB3 = pd.read_excel('C:/Users/Samsung/Documents/GitHub-Datas/TCC_Machine_Learning/Yahoo Ticker Symbols.xlsx', sheet_name= "Stock")
ListaB3 = ListaB3.iloc[2:]
ListaB3.head()

,Yahoo Stock Tickers,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,Ticker,Name,Exchange,Category Name,Country,NaN,NaN,NaN
3,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA,NaN,NaN,Samir Khan
4,AAPL,Apple Inc.,NMS,Electronic Equipment,USA,NaN,NaN,simulationconsultant@gmail.com
5,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA,NaN,NaN,NaN
6,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA,NaN,NaN,This ticker symbol list was downloaded from

In [82]:
ListaB3 = ListaB3.reset_index(drop=True)
ListaB3.columns = ListaB3.iloc[0]  
ListaB3 = ListaB3.drop(index=0).reset_index(drop=True)
ListaB3 = ListaB3[['Ticker', 'Name', 'Exchange', 'Category Name', 'Country']]
ListaB3.head()

,Ticker,Name,Exchange,Category Name,Country
0,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA
1,AAPL,Apple Inc.,NMS,Electronic Equipment,USA
2,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA
3,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA
4,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA

In [83]:
ListaB3 = ListaB3[ListaB3['Country'] == 'Brazil'].reset_index(drop=True)
ListaB3.head()

,Ticker,Name,Exchange,Category Name,Country
0,LAME4.SA,Lojas Americanas S.A.,SAO,Department Stores,Brazil
1,ABEV3.SA,Ambev S.A.,SAO,Beverages - Brewers,Brazil
2,VALE5.SA,Vale S.A.,SAO,Industrial Metals & Minerals,Brazil
3,SBSP3.SA,Companhia de Saneamento BÃ¡sico do Estado de S...,SAO,Water Utilities,Brazil
4,VALE3.SA,Vale S.A.,SAO,Industrial Metals & Minerals,Brazil

In [84]:
ListaB3.to_excel("C:/Users/Samsung/Documents/GitHub-Datas/TCC_Machine_Learning/ListaB3.xlsx", index=False)

##### Definir a lista somente os 5 primeiros, para ir testando e fazendo sem pesar muito, depois faço todo o processo com a lista completa.

In [85]:
ListaB3_5 = ListaB3.iloc[:5,:]
ListaB3_5.head(10)

,Ticker,Name,Exchange,Category Name,Country
0,LAME4.SA,Lojas Americanas S.A.,SAO,Department Stores,Brazil
1,ABEV3.SA,Ambev S.A.,SAO,Beverages - Brewers,Brazil
2,VALE5.SA,Vale S.A.,SAO,Industrial Metals & Minerals,Brazil
3,SBSP3.SA,Companhia de Saneamento BÃ¡sico do Estado de S...,SAO,Water Utilities,Brazil
4,VALE3.SA,Vale S.A.,SAO,Industrial Metals & Minerals,Brazil

#### Baixar a partir da lista.

In [86]:
import yfinance as yf
import pandas as pd

def download_historical_data(ticker, start_date, end_date):
    try:
        data = yf.download(ticker, start=start_date, end=end_date)
        if data.empty:
            print(f"Nenhum dado encontrado para {ticker}.")
            return None
        return data
    except Exception as e:
        print(f"Ocorreu um erro ao baixar os dados para {ticker}: {e}")
        return None

if __name__ == "__main__":
    ticker_symbols = ListaB3_5['Ticker'].tolist()  # Pega todos os tickers da coluna "Ticker"

    start_date = "1800-01-01"
    end_date = "2050-01-01"

    failed_downloads = []
    all_data = pd.DataFrame()

    for ticker_symbol in ticker_symbols:
        print(f"Baixando dados para: {ticker_symbol}")
        historical_data = download_historical_data(ticker_symbol, start_date, end_date)

        if historical_data is not None:
            historical_data.reset_index(inplace=True)
            historical_data['Ticker'] = ticker_symbol  # Adicionar uma coluna para identificar o ticker no DataFrame
            all_data = pd.concat([all_data, historical_data])  # Concatenar os dados no DataFrame final
        else:
            failed_downloads.append(ticker_symbol)

    # Exibir o DataFrame final com todos os tickers
    print("Dados baixados:")

    if failed_downloads:
        print("\nAs seguintes ações não puderam ser encontradas ou estão deslistadas no Yahoo Finance:")
        for ticker_symbol in failed_downloads:
            print(ticker_symbol)

    print("Fim")

Baixando dados para: LAME4.SA

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['LAME4.SA']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

Nenhum dado encontrado para LAME4.SA.
Baixando dados para: ABEV3.SA

[*********************100%***********************]  1 of 1 completed

Baixando dados para: VALE5.SA

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['VALE5.SA']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 1800-01-01 -> 2050-01-01) (Yahoo error = "1d data not available for startTime=-5364644640 and endTime=1727554246. Only 100 years worth of day granularity data are allowed to be fetched per request.")')

Nenhum dado encontrado para VALE5.SA.
Baixando dados para: SBSP3.SA

[*********************100%***********************]  1 of 1 completed

Baixando dados para: VALE3.SA

[*********************100%***********************]  1 of 1 completed

Dados baixados:
           Date       Open       High        Low      Close  Adj Close  \
0    2000-01-05   0.520882   0.520882   0.520882   0.520882   0.297814
1    2000-01-06   0.494478   0.494478   0.494478   0.494478   0.282718
2    2000-01-07   0.494478   0.494478   0.494478   0.494478   0.282718
3    2000-01-10   0.494478   0.494478   0.494478   0.494478   0.282718
4    2000-01-11   0.494478   0.494478   0.494478   0.494478   0.282718
...         ...        ...        ...        ...        ...        ...
6210 2024-09-23  57.090000  57.860001  56.599998  57.529999  57.529999
6211 2024-09-24  60.209999  60.740002  59.639999  60.340000  60.340000
6212 2024-09-25  60.720001  61.250000  60.419998  60.610001  60.610001
6213 2024-09-26  62.599998  64.379997  62.450001  64.250000  64.250000
6214 2024-09-27  64.699997  65.040001  63.169998  63.959999  63.959999

        Volume    Ticker
0          985  ABEV3.SA
1          227  ABEV3.SA
2          151  ABEV3.SA
3         1516  ABEV3.SA
4         3791  ABEV3.SA
...        ...       ...
6210  18164700  VALE3.SA
6211  44910100  VALE3.SA
6212  21557700  VALE3.SA
6213  61449300  VALE3.SA
6214  37237900  VALE3.SA

[18643 rows x 8 columns]

As seguintes ações não puderam ser encontradas ou estão deslistadas no Yahoo Finance:
LAME4.SA
VALE5.SA
Fim

In [95]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18643 entries, 0 to 6214
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       18643 non-null  datetime64[ns]
 1   Open       18643 non-null  float64
 2   High       18643 non-null  float64
 3   Low        18643 non-null  float64
 4   Close      18643 non-null  float64
 5   Adj Close  18643 non-null  float64
 6   Volume     18643 non-null  int64
 7   Ticker     18643 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 1.3+ MB

In [87]:
all_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2000-01-05,0.520882,0.520882,0.520882,0.520882,0.297814,985,ABEV3.SA
1,2000-01-06,0.494478,0.494478,0.494478,0.494478,0.282718,227,ABEV3.SA
2,2000-01-07,0.494478,0.494478,0.494478,0.494478,0.282718,151,ABEV3.SA
3,2000-01-10,0.494478,0.494478,0.494478,0.494478,0.282718,1516,ABEV3.SA
4,2000-01-11,0.494478,0.494478,0.494478,0.494478,0.282718,3791,ABEV3.SA

##### Caso queira selecionar um ticker específico nesse caso: Companhia de Saneamento Básico do Estado de São Paulo - SABESP (SBSP3)

In [88]:
SBSP3_SA = all_data[all_data['Ticker'] == 'SBSP3.SA'].reset_index(drop=True)
SBSP3_SA.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2000-01-03,7.888750,7.962916,7.777916,7.815000,4.741246,2536,SBSP3.SA
1,2000-01-04,7.629583,7.629583,7.296250,7.351666,4.460147,2432,SBSP3.SA
2,2000-01-05,7.259166,7.259166,7.037916,7.147083,4.336030,6675,SBSP3.SA
3,2000-01-06,7.148333,7.185000,7.000000,7.111250,4.314290,2989,SBSP3.SA
4,2000-01-07,7.222083,7.222083,7.185000,7.211250,4.374959,2025,SBSP3.SA

In [92]:
SBSP3_SA['Open'].nunique()

4085

In [94]:
SBSP3_SA.isnull().values.any()

False

#### Salvando arquivo com todos tickers.

In [89]:
all_data.to_excel("C:/Users/Samsung/Documents/GitHub-Datas/TCC_Machine_Learning/Dados_bolsa.xlsx", index=False)

##### Interpolar.

In [90]:
all_data['Open'] = all_data['Open'].interpolate(method='linear')
all_data['High'] = all_data['High'].interpolate(method='linear')
all_data['Low'] = all_data['Low'].interpolate(method='linear')
all_data['Close'] = all_data['Close'].interpolate(method='linear')
all_data['Adj Close'] = all_data['Adj Close'].interpolate(method='linear')

#### Salvando novamente após a interpolação.

In [93]:
all_data.to_excel("C:/Users/Samsung/Documents/GitHub-Datas/TCC_Machine_Learning/Dados_bolsa.xlsx", index=False)